.about-img {
    float: left;
    margin: 5px;
    width: 300px;
}

.about-section{
    max-width: 800px;
    padding-top: 30px;
    margin: 0 auto;
    p {
        text-align: justify;
        font-size: 25px;
      }
}